<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ title }}</title>
    <script type="text/javascript" src="/externals/jquery-2.1.1.min.js"></script>
    <link href="/externals/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/externals/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <script src="/externals/bootstrap/js/bootstrap.min.js"></script>
    <style>
        body {
            padding-top: 50px;
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>
    <script>
        var globalModelWebsocketSecret = "{{globalModelWebsocketSecret|default:'no secret'}}";
        var globalModelWebsocketPort = {{globalModelWebsocketPort|default:0}};
    </script>
{% block head %}{% endblock %}
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ brand }}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% for item in mainMenu %}
                <li {% if item.title == activeMenuItem %}class="active"{% endif %}>
                    <a href="{{ item.href|default:"#" }}">
                        {{ item.title }}
                    </a>
                </li>
            {% endfor %}
          </ul>
{% block bootstrapNavBarWidget %}{% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

{% block content %}{% endblock %}

<!-- Modal -->
<div class="modal fade" id="__areYouSureModal" tabindex="-1" role="dialog" aria-labelledby="__areYouSureModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header rtlcenter">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="__areYouSureModalTitle"></h4>
      </div>
      <div class="modal-body rtl" id="__areYouSureModalBody">
      </div>
      <div class="modal-footer" id="__areYouSureModalFooter">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    function areYouSureModal(title, body, actionName, actionCallback, dismissCallback) {
        $("#__areYouSureModalTitle").text(title);
        $("#__areYouSureModalBody").html(body);
        $("#__areYouSureModalFooter").html(
            '<button type="button" class="btn btn-default" data-dismiss="modal" id="__notificationModalDismissButton">Close</button>' +
            '<button type="button" class="btn btn-danger" data-dismiss="modal" id="__areYouSureModalActionButton">' + actionName + '</button>');
        $("#__areYouSureModalActionButton").click(actionCallback);
        if (dismissCallback !== undefined)
            $("#__notificationModalDismissButton").click(dismissCallback);
        $("#__areYouSureModal").modal();
    }
</script>

<!-- Modal -->
<div class="modal fade" id="__notificationModal" tabindex="-1" role="dialog" aria-labelledby="__notificationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header rtlcenter">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="__notificationModalTitle"></h4>
      </div>
      <div class="modal-body rtl" id="__notificationModalBody">
      </div>
      <div class="modal-footer" id="__notificationModalFooter">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    function notificationModal(title, body, dismissCallback) {
        $("#__notificationModalTitle").text(title);
        $("#__notificationModalBody").html(body);
        $("#__notificationModalFooter").html(
            '<button type="button" class="btn btn-default" data-dismiss="modal" id="__notificationModalDismissButton">Close</button>');
        if (dismissCallback !== undefined)
            $("#__notificationModalDismissButton").click(dismissCallback);
        $("#__notificationModal").modal();
    }
</script>

</body>
</html>
